<!DOCTYPE html>
<html>
	<head>
   	<title>Bootstrap 101 Template</title>
   	 <meta http-equiv="Content-Type" name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8" >
         <!-- Bootstrap -->
          <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet" media="screen" >
	  <link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet" media="screen" >
        </head>
          <body>
                   <div class="navbar navbar-inverse">
    		<div class="navbar-inner">
    		<a class="brand" href="#">Tachibana</a>
    		<ul class="nav">
    		<li><a href="#">FAQ</a></li>
                <li><a href="#">Rules</a></li>
    		</ul>
		<ul class = "nav pull-right">
		<li><a href="#">Архив</a></li>
        	</ul>
    		</div>
    		</div>
        <p>
        <div class = 'hello'>
		<img src = "http://cs9425.vk.me/u45897902/118850521/x_3c54f309.jpg" width=50% height=50%>
                       <font size=8>Welcome</font>
            <div class="well well-small">
     <b>Аничан</b> - это простой, ориентированный на картинки форум,
                где любой человек без регистрации может создавать темы
                и загружать картинки. Доски посвящены различным тематикам.
    </div>
       </div>
                   </p>

<div class = 'news'>
    <center><h3>Breaking news!</h3></center>
        {% if news %}
         {% for item in news %}
    <div class="well well-small">

     <ul class="nav nav-list">
         <center><strong>{{ item.subject }}</strong></center>
<li class="nav-header">{{ item.pub_date | date_normalize }}</li>
<span>{{ item.content }}</span>

</ul>
        <hr>
        <a href="/n/thread/{{ item.number }}">№{{ item.number }}</a> Ответов: {{ item.reply_count }}
</div>
    {% endfor %}
    {% endif %}

</div>

                   <div class = 'boards'>
                   <div class="well well-small">
     <ul class="nav nav-list">
<li class="nav-header">Доски</li>
         {% if boards %}
{% for item in boards %}
<li><a href="/{{ item.url }}" target="_blank">{{ item.name }}</a></li>
{% endfor %}
         {% endif %}
</ul>
</div>



    </div>

                   <div class = "footer">

                   <hr>
                   <center><a href="#">Anichan</a> &copy 2014
                   <a href="#">Tachibana 0.1</a>
                   </center>

                   </div>

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
          </body>
</html>
