*{font-family:"Trebuchet MC", Arial, Helvetica sans-serif;list-style:none;margin:0;padding:0}html{background:#0a1116;font-size:87.5%;/*box-shadow:inset 2px 2px 4px #272d39, inset -2px -2px 4px #272d39*/}body{color:#5b7e90}hr{background:transparent;border:0;border-bottom:2px dotted #0e1a23;margin:.875em 0}a,a:visited{color:#a14040}a.quotelink{color:#3a3a3a}.logo{color:#f1f192;text-align:center;font:normal 400 260% Impact, sans-serif;letter-spacing:1px;width:100%;text-shadow:2px 2px #d15454}.postarea{display:block;text-align:center;/*float:center;*/width:auto;margin:0 0 15px;padding:14px 20px}.theader,.passvalid{width:auto;height:auto;background:#0e1922;color:#f1f192;font:normal 700 160% "Trebuchet MC", sans-serif;border-top:1px solid #13212c;border-right:1px solid #13212c;border-bottom:1px solid #13212c;border-left:1px solid #182733;text-align:center;text-shadow:2px 2px #d15454;margin:4px 0 20px 6px;padding:4px}.postarea table{margin:0 auto}.postblock{background:#0e1922;border-top:1px solid #13212c;border-right:1px solid #13212c;border-bottom:1px solid #13212c;border-left:1px solid #182733;border-radius:3px;padding:3px}.postarea table tr td:last-child{border:0}input,textarea{background:#fff;border:1px solid #182733;border-radius:3px;padding:3px}input:hover,.textarea:hover{border:1px solid #29a2e8}input:focus,textarea:focus{border:1px solid #29a2e8;box-shadow:-1px -1px 4px 1px #0f2c4d}input[type = submit]{margin:0 0 0 2px}input[type = submit]:active{border:1px solid #d75454}.rules{color:#324750;float:left;display:inline-block;text-align:left;margin:6px 0 0;padding:0 0 0 12px}.rules li{font:normal 400 11px "Trebuchet MC", sans-serif;list-style:circle;padding:0 0 0 1px}.rules li a{font:normal 400 11px "Trebuchet MC", sans-serif;color:inherit}.unkfunc{color:#d1d190}span.spoiler{color:#121e23;background:#121e23}span.spoiler:hover{color:#5992ab;background:#1b2c34}.spoiler a.quotelink,.spoiler .unkfunc{color:transparent}img{border-radius:.25em;margin:0 10px 0 0}label{font-size:.938em}.thumbnailmsg,.filesize{color:#324750;font-size:.875em;margin:0 0 4px}.filesize a{color:#324750;font-size:12px}.filesize a:hover{color:#324750}.postername,.commentpostername{font-weight:700;color:#d15454}.reflink{color:#5b7e90;text-decoration:none}.filetitle,.replytitle{color:#f1f192;font-size:130%;font-weight:700}.omittedposts{font-size:90%}.omittedposts,.omittedposts a{font-style:italic;color:#324750}.postertrip{color:#bb2d2d}.reply{background:#0e1922;border-top:1px solid #182733;border-right:1px solid #13212c;border-bottom:1px solid #13212c;border-left:1px solid #182733;border-radius:2px;margin:4px 0;padding:4px 7px}.replyhl{background:#e8d6d6;border-top:1px dotted #d16767;border-right:1px dotted #c44747;border-bottom:1px dotted #c44747;border-left:1px dotted #d16767}.adminbar{width:100%;color:#4083a9;background:#0e1922;border-bottom:2px solid #3574a4;box-shadow:rgba(0,0,0,0.66) 0 6px 6px -6px;margin:-8px;padding:8px}.footer{color:#4083a9;background:#0e1922;border-top:2px solid #13212c;text-align:center;box-shadow:rgba(0,0,0,0.66) 0 12px 12px -12px;margin:10px -8px -8px;padding:14px}#layout,#layout-oekaki{position:fixed;width:100%;height:100%;background:rgba(0,0,0,0.66);z-index:9006!important;margin: 8px 0px 0px 0px;}#settings,#settings-oekaki{border:1px solid #13212c;background:#0e1922;width:288px;padding-bottom:10px;margin:66px auto}#settings hr,#settings-oekaki hr{border-bottom:2px dotted #428fc8;box-shadow:none!important;width:auto}#settings hr:last-child,#settings-oekaki hr:last-child{margin:.875em 0 0}.settingsBlockStyles{height:auto}.settingsTitle,.settingsBlockStyles{padding:8px}.settingsDone{text-align:center;padding:0 8px}.settingsDone a{color:#d15454!important;font-size:90%}.settingsDone a:hover{color:#94c6ed!important}.settingsTitle{background:#0a1116;border-bottom:2px solid #13212c;font-size:160%;font-weight:700;color:#f1f192;text-shadow:2px 2px #d15454}.cubscolor{color:#F1F192}#none,.doubledash{display:none}a:hover,.omittedposts a:hover,#settings a:hover,#settings-oekaki a:hover{color:#94c6ed}.rules li a:hover,.reflink:hover,.adminbar table td:first-child a:hover,.adminbar a:hover,.footer a:hover{color:#61a8df}blockquote,blockquote p{padding:4px 0}.adminbar table td:first-child a,.adminbar a,.footer a,#settings a,#settings-oekaki a{color:#f1f192}
.highlight {
    background: none repeat scroll 0 0 #C4C4C4;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.55);
    color: #2E2E2E;
    text-shadow: 1px 1px 19px rgba(0, 0, 0, 0.19);
    border-color: #D1D1D1 #C6C6C6 #C6C6C6 #D1D1D1;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 1px;
    margin: 4px 0;
    padding: 4px 7px;
}
#bottom{
	left:113px; position:absolute;
}
html {
margin:0 8px 0 0;
padding:0 0 0 0px;
}
body {
	margin:0; padding: 0;
}
#back{
	margin-left:6px;
}
#layout-oekaki div.settingsBlockStyles form table{
	margin-left:40px;
}
pre,code{
	white-space:pre-wrap;
	white-space:-moz-pre-wrap;
	white-space:-pre-wrap;
	white-space:-o-pre-wrap;
	word-wrap:break-word;
	overflow:auto !important;
	max-width:80em !important;
	display:block !important
}