html, body {
         background:#CFF0FF;
         color:#004F7E;
         font-family: Corbel;
}
a       {
        color:#34345C;

}
a:visited {
        color:#34345C;
}

a:hover {
        color:#0B41AB;
}
.adminbar {
        text-align:right;
        clear:both;
        float:right;
}
.logo {
        clear:both;
        text-align:center;
        font-size:2em;
        color:#004F7E;
        width:100%;
}
.theader {
        background:#6BB4E1;
        text-align:center;
        padding:2px;
        color:#FFFFFF;
        width:100%;
}
.postarea {
}
.rules {
        font-size:0.7em;
}
.postblock {
        background:#53BDFF;
        color:#004F7E;
        font-weight:800;
}
.footer
{
text-align: center;
clear: both;
float: center;
padding: 1.00em;
font-size: 8pt;
font-family:serif;
}
.passvalid {
	background:#53BDFF;
	text-align:center;
	width:100%;
	color:#ffffff;
}
.dellist {
	font-weight: bold;
	text-align:center;
}
.delbuttons {
	text-align:center;
	padding-bottom:4px;

}
.managehead {
	background:#62B0E1;
	color:#004F7E;
	padding:0px;
}
.postlists {
	background:#FFFFFF;
	width:100%;
	padding:0px;
	color:#004F7E;
}
.row1 {
	background:#B6F5FE;
	color:#004F7E;
}
.row2 {
        background:#7ACCD7;
        color:#004F7E;
}
.unkfunc {
	background:inherit;
	color:#CC3139;
}
.filesize {
	text-decoration:none;
}
.filetitle {
	background:inherit;
	font-size:1.2em;
	color:#004F7E;
	font-weight:800;
}
.postername {
	color:#CC3139;
	font-weight:bold;
}
.postertrip {
	color:#CC3139;
}
.oldpost {
        color:#004F7E;
        font-weight:800;
}
.omittedposts {
        color:#707070;
}
.reply {
	background:#B6D9FF;
	color:#004F7E;
}
.doubledash {
 	vertical-align:top;
	clear:both;
	float:left;
}
.replytitle {
	font-size: 1.2em;
        color:#004F7E;
        font-weight:800;
}
.commentpostername {
        color:#003366;
	font-weight:800;
}
.thumbnailmsg {
	font-size: small;
	color:#004F7E;
}



.abbrev {
        color:#707070;
}
.highlight {
	background:#FFFFFF;
	color:#004F7E;
	border: 2px dashed #5590D0;
}

.spoiler {color: #BBBBBB !important;background: #BBBBBB !important;}

.spoiler:hover{color: #000000 !important;background: #BBBBBB !important;}

.thread_button{font-size: 8px !important;   padding-top: 1px; padding-bottom: 1px; font-family: 'Lucida Grande', Verdana, Helvetica, Arial, sans-serif; background: #C8F0F8 none repeat-x top;}
.post_button{font-size: 8px !important;   padding-top: 1px; padding-bottom: 1px; font-family: 'Lucida Grande', Verdana, Helvetica, Arial, sans-serif; background: #B0D8F0 none repeat-x top;}