html, body {
  background-color: #F7F7F0;
  color: #111111;
  font-family: "Trebuchet MS",Trebuchet,serif;
}
.content-background {
  background-color: #F7F7F0;
}
body {
  margin: 0 auto;
  max-width: 1200px;
  width: 95%;
}
form, table {
  margin-left: auto;
  margin-right: auto;
}
a {
  color: #C10000;
}
a:hover {
  color: #FF0000;
}
.adminbar {
  clear: both;
  float: right;
  font-size: .8em;
}
.adminbar a {
  font-weight: bold;
}
.logo {
  clear: both;
  text-align: left;
  font-size: 2em;
  font-weight: bold;
  color: #BF4A4E;
}
.theader, .passvalid {
  background: #BF4A4E;
  text-align: center;
  padding: 2px;
  color: #F7F7F0;
  clear: both;
  font-weight: bold;
  margin-bottom: .5em;
  border: none;
}
.postarea {
}
.rules {
  font-size: 0.7em;
}
.postblock {
  background: transparent;
  color: #BF4A4E;
  font-weight: bold;
  width: 215px;
}
.footer {
  text-align: center;
  font-size: 12px;
  font-family: serif;
  margin: 2em 0 0 0;
}
.dellist {
  font-weight: bold;
  text-align: center;
}
.delbuttons {
  text-align: center;
  padding-bottom: 4px;
}
.managehead {
  background: #DDDDDD;
  color: #BF4A4E;
  padding: 0px;
}
.postlists {
  background: #FFFFFF;
  width: 100%;
  padding: 0px;
  color: #800000;
}
.row1 {
  background: #DDDDDD;
  color: #BF4A4E;
}
.row2 {
  background: #CCCCCC;
  color: #BF4A4E;
}
.unkfunc {
  background: inherit;
  color: #278200;
  padding-left:0;
}
.reflink {
  font-size: .8em;
  font-weight: bold;
}
.filesize {
  text-decoration: none;
  color: #AF7C7C;
  font-size: 10%;
  visibility: hidden;
  margin-left: 0;
}
.filetitle {
  background: inherit;
  font-size: 1.2em;
  color: #BF4A4E;
  font-weight: bold;
}
.postername {
  color: #AF7C7C;
  font-weight: bold;
  margin-left: 10px;
  padding-left: 15px;
  border-left: 23px solid #BF4A4E;
}
.commentpostername {
  color: #AF7C7C;
  font-weight: 800;
  padding-left: 195px;
}
label {
  color: #AF7C7C;
}
.reflink {
  color: #AF7C7C;
}
.postertrip {
  color: #FF3300;
}
.oldpost {
  color: #CC1105;
  font-weight: bold;
}
.omittedposts {
  color: #AF7C7C;
  margin-left: 75px;
}
.thumb {
  margin: 0 0 0 0;
}
.reply {
  background: #F7F7F0;
  border: 0;
  border-top: solid 1px #BF4A4E;
  border-radius: 0;
  padding: 0 0 0 0;
}
.reply .filesize {
  margin-left: 0;
}
blockquote {
  margin: .5em .5em .5em 1em;
  text-align: justify;
  padding-left: 210px;
  padding-right: 0;
}
blockquote p {
  margin-top: 0;
  padding: 0;
  margin-left: 4px;
}
.reply blockquote {
  margin: .5em;
}
.doubledash {
  display: none;
    vertical-align: top;
  clear: both;
  float: left;
}
.replytitle {
  font-size: 1.2em;
  color: #BF4A4E;
  font-weight: bold;
}
.thumbnailmsg {
  display: none;
  font-size: .8em;
  color: #AF7C7C;
}
hr {
  border-style: solid none none none;
  border-width: 8px;
  border-color: #BF4A4E;
}
table {
  border-style: none;
  width: 100%;
  table-layout:fixed;
}
table td {
  border-style: none;
}
pre {
  overflow-x:auto;
}
.nothumb {
  background-color: #FFFFFF;
  border-style: dotted;
  margin: .3em .5em;
}

.abbrev {
  color: #AF7C7C;
}
.highlight {
  background: #EEDED5;
  border: 1px solid #BF4A4E;
}
.de-refmap {
  font-size: 70%;
  font-style: italic;
  padding-left: 215px;
  color: #AF7C7C;
}
.de-thread {
  border-top: solid 0px #BF4A4E;
}
.de-btn-src {
  visibility: visible;
}
.de-pview {
  min-width: 725px;
  border: 1px solid #80BF4A4E !important;
}
.de-mp3, .de-ytube-obj {
  padding: 0px 0px 0px 200px;
}
.de-pview blockquote {
  padding-left: 0;
}
.de-pview .thumb, .de-pview .de-mp3, .de-pview .de-ytube-obj {
  margin: 0 10px 10px 10px;
  padding: 0;
}
.de-pview .de-refmap {
  padding-left: 0;
  margin-left: 10px;
}
.de-pview .commentpostername {
  padding-left: 0;
}