html, body {
  font-size:10pt;
  background:#000000;
  color:#00aa00;
}
* {
  font-family: monospace;
  font-size: 10pt;
}

hr {
  border: none;
  color: #009000;
  background-color: #009000;
  height: 1px;
}

input, textarea {
  background-color: #000000;
  border: 1px solid #007000;
  color: #00c000;
}
a {
  background:inherit;
  color:#00ff00;
}
a:visited {
  background:inherit;
  color:#00ff00;
}
a:hover {
  color:#00ff00;
  background:inherit;
}
a.quotelink {
  background:inherit;
  color:#00ff00;
}
.logo {
  text-align:center;
  background:inherit;
  color:#00ff00;
  width:100%;
  font-family: monospace;
  font-weight: bold;
}
.postarea {
  background:inherit;
}
.postblock {
  background: #000000;
  border: 1px solid #00a000;
  color: #00a000;
  font-weight: bold;
  padding: 2px 5px 2px 5px;
}
.footer {
  text-align:center;
}
.unkfunc {
	background:inert;
	color:#006000;
}
.filesize {
	text-decoration: none;
  color: #004000;
}
.thumbnailmsg {
  text-decoration: none;
  color: #002000;
}
.filetitle {
	background:inherit;
	color:#009000;
  font-weight: bold;
  text-decoration: underline;
}
.postername {
  background:inherit;
  color:#00c000;
  font-weight: bold;
}
.postertrip {
	background:inherit;
	color:#00c000;
}
.oldpost {
  background:inherit;
  color:#00c000;
  font-weight:800;
}
.omittedposts {
  background:inherit;
  color:#007000;
}
.reply {
	background:#000000;
	color:#00a000;
	border:1px solid #003000;
}
.replyhl {
	background:#000000;
	color:#00c000;
}
.doubledash {
 	vertical-align:top;
	clear:both;
	float:left;
}
.replytitle {
	background:inherit;
  color:#00c000;
  font-weight:800;
}
.commentpostername {
  background:inherit;
  color:#00c000;
  font-weight: bold;
}
a.quotejs {
  color:#000000;
	text-decoration: none;
}
a.quotejs:hover {
  font-weight:bold;
}

.adminbar {
  text-align: right;
}
