html,body{background-color:#6E7C87;color:#FFF;font-family:Calibri}a:hover{color:#343855}.adminbar{clear:both;/*float:center;*/font-size:.8em}.adminbar a{font-weight:700}.logo{clear:both;text-align:center;font-size:2em;font-weight:700;color:#C8CDD5}.theader,.passvalid{background:#768998;text-align:center;color:#BDD2E7;clear:both;font-weight:700;margin-bottom:.5em;border:solid 1px #1B204D;-moz-border-radius:5px;padding:2px}.rules{font-size:.7em}.postblock{background:transparent;color:#D1D7DD;font-weight:700}.footer{text-align:center;font-size:12px;font-family:arial;margin:2em 0 0}.dellist{font-weight:700;text-align:center}.delbuttons{text-align:center;padding-bottom:4px}.managehead{background:#768998;color:#809EBB;padding:0}.postlists{background:#FFF;width:100%;color:maroon;padding:0}.unkfunc{background:inherit;color:#81B1FF}.reflink{font-size:.8em;font-weight:700}.filesize{text-decoration:none;color:#FFF;font-size:.8em}.filetitle{background:inherit;font-size:1.2em;color:#28344A;font-weight:700}.postername{color:#FFF;font-weight:700}.postertrip{color:#74B8D4}.oldpost{color:#09F;font-weight:700}.omittedposts{color:#D0D0D0}.reply{background:#546471;border:solid 2px #546471;-moz-border-radius:5px;margin:0;padding:0}blockquote{margin:.5em .5em .5em 1em}blockquote p{margin:0;padding:0}.reply blockquote{margin:.5em}.doubledash{display:none;vertical-align:top;clear:both;float:left}.replytitle{font-size:1.2em;color:#FFF;font-weight:700}.commentpostername{color:#FFF;font-weight:800}.thumbnailmsg{font-size:.8em;color:#FFF}hr{height:3px;background:url(heon/stripe1.png) center no-repeat;border-width:0}.nothumb{background-color:#FFF;border-style:dotted;margin:.3em .5em}.highlight{background:#212D57;color:#A19CBC;border:2px dashed #585858}textarea,select,input{-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;/*-moz-appearance:none;-webkit-appearance:none;appearance:none;*/background-color:#37414a;color:#fff;border:2px solid #545454!important;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}pre,code{background:#2C2C2C!important;color:#CCC!important;white-space:pre-wrap!important;word-wrap:break-word!important;overflow:auto!important;max-width:80em!important;display:block!important}pre a,code a{color:#FFF!important}#layout,#layout-oekaki{position:fixed;width:100%;height:100%;background:rgba(0,0,0,0.66);z-index:9006!important;margin:0px}#settings,#settings-oekaki{border:0;background:#6e7c87;width:288px;padding-bottom:10px;margin:66px auto}#settings hr:last-child,#settings-oekaki hr:last-child{margin:.875em 0 0}.settingsBlockStyles{height:auto}.settingsTitle,.settingsBlockStyles{padding:8px}.settingsDone{text-align:center;padding:0 8px}.settingsTitle{background:#546471;border-bottom:0;font-size:120%;font-weight:700;color:#fff}#settings hr,#settings-oekaki hr{border-bottom:0!important}#settings,#settings-oekaki,.settingsTitle{border:0}.cubscolor{color:#28344A}a,.abbrev{color:#FFF}.row1,.row2{background:#343860;color:#FFF}table,table td{border-style:none}
span.spoiler,span[onmouseout*="color='black'"]{background:#212121;color:#212121}
span.spoiler:hover, span[onmouseover*="color='white'"]:hover{color:#48B0FD}
#bottom{
	left:136px; position:absolute;
}
html,body {
	margin:0; padding: 0;
}
option {
	color: black!important;
}