.title{color:#4c443f;font-family:Cambria;text-shadow:1px 0 2px rgba(0,0,0,0.25)}#pagebody{font-size:10pt;background:#d8d8d8;color:#2e2e2e;background-image:none;background-repeat:repeat;background-attachment:fixed}*{font-family:"Trebuchet MS", Candara, Verdana, sans-serif;font-size:10pt}input,textarea{color:#e3e6e8;background-color:#2e2e2e;border:1px outset;border-radius:4px;border-collapse:collapse;border-color:gray}a:hover{color:#4a4a4a;background:inherit;text-shadow:1px 1px 5px rgba(0,0,0,0.15)}.logo{clear:both;text-align:center;background:inherit;font-size:28pt;font-family:Candara;font-weight:700;color:#2e2e2e;width:100%;text-shadow:1px 1px 9px rgba(0,0,0,0.55)}.postarea{background:inherit}.postblock{background:none;border:none;color:#2e2e2e;font-weight:700;font-family:"Courier New";font-size:105%;padding:2px 5px}.footer{color:#2E2E2E;background:none;display:block;font:normal normal 400 12px/normal Candara;height:19px;text-align:center;width:100%;margin:12px 0}.unkfunc{background:inherit;color:#4d4d4d;font-size:92%;font-family:"Courier New"}.rules ul{padding:0 0 0 122px}.rules ul li{font-family:Cambria;font-size:12px;opacity:1.0;padding:0 0 0 1px}.filesize{color:#4d4d4d;font-size:88%;font-family:"Courier New";text-decoration:none}.filetitle{background:inherit;color:#2e2e2e;font-size:162%;font-family:Candara;font-weight:700}.postertrip{background:inherit;color:#228854}.omittedposts{background:inherit;color:#969696;font-style:italic}.reply{background:#e0e0e0;color:#2e2e2e;border-radius:4px;box-shadow:1px 2px 3px rgba(0,0,0,0.55);text-shadow:0 0 0 rgba(0,0,0,0.0);border-color:#ccc}.replyhl{background:#e4e4e4;color:#2e2e2e;bottom:-15px;border:1px outset;border-radius:4px;box-shadow:2px 2px 5px rgba(0,0,0,0.75);border-color:gray}.highlight{background:#c4c4c4;border:2px inset #6b6b6b;color:#2e2e2e;border-radius:4px;box-shadow:2px 2px 7px rgba(0,0,0,0.55);text-shadow:1px 1px 19px rgba(0,0,0,0.19);border-color:gray}.doubledash{vertical-align:top;clear:both;float:left}.replytitle{background:inherit;color:#2e2e2e;font-family:Candara;font-weight:700;font-size:142%}.adminbar{text-align:center;color:#a1a1a1;font-size:88%;font-family:"Courier New";border-bottom:1px;text-shadow:1px 1px 4px rgba(0,0,0,0.10)}.thumbnailmsg{color:#4d4d4d;font-size:88%;font-family:"Courier New"}.rules{color:#4d4d4d;font-size:68%;font-family:"Courier New"}span.spoiler{color:#121e23;background:#121e23}span.spoiler:hover{color:#5992ab;background:#1b2c34}.spoiler a.quotelink,.spoiler .unkfunc{color:transparent}hr{background:url(aimdiboden/1344891331611.png) no-repeat 50% 50%;border:0 none!important;color:#2e2e2e;display:block;height:3px;/*width:1247px;*/margin:22px 0}#layout,#layout-oekaki{position:fixed;width:100%;height:100%;background:rgba(0,0,0,0.66);z-index:9006!important;margin:0px}#settings,#settings-oekaki{border:1px solid #d1d1d1;background:#eaeaea;width:288px;padding-bottom:10px;margin:66px auto}#settings hr,#settings-oekaki hr{background:transparent;border:0;border-bottom:1px solid #ccc;width:auto;margin:6px auto}.settingsBlockStyles{height:auto}.settingsTitle,.settingsBlockStyles{padding:8px}.settingsDone{text-align:center;padding:0 8px}.settingsTitle{background:#000;border-bottom:2px solid #434343;font-size:120%;font-weight:700;color:#fff;box-shadow:rgba(0,0,0,0.26) 0 2px 4px 0}.cubscolor{color:#909090}.theader,.passvalid{background:none repeat scroll 0 0 #2D2D2D;border:1px solid #282828;color:#FFF;font:700 14px "Trebuchet MC",sans-serif;height:auto;text-align:center;width:auto;margin:4px 0 20px;padding:2px}a,a:visited{background:inherit;color:#2e2e2e}.postername,.commentpostername{background:inherit;font-size:11pt;color:#2e2e2e;font-family:Candara;font-weight:700}
#bottom{
	left:105px; position:absolute;
}
html,body {
	margin:0; padding: 0;
}
pre,code{
	white-space:pre-wrap;
	white-space:-moz-pre-wrap;
	white-space:-pre-wrap;
	white-space:-o-pre-wrap;
	word-wrap:break-word;
	overflow:auto !important;
	max-width:80em !important;
	display:block !important
}
