html,
body{
	background:scroll #211F1A url('muon/muon_bg.jpg') repeat;
	color:#9B8165;
	font-family:Verdana, sans-serif;
	font-size:1em
}
html,body {
	margin:0; padding: 0;
}
form{
	font-size:0.9em
}
a,
#adminbar ul.menu ul li a,
.rmenu a{
	color:#FFD97A !important;
	text-decoration:none;
	padding:0px;
	-o-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-webkit-transition:all 0.5s ease;
	transition:all 0.3s ease
}
a:hover,
#adminbar ul.menu ul li a:hover,
.rmenu a:hover{
	color:#FCE236 !important;
	text-shadow:#FCE236 0px 0px 10px
}
#adminbar ul.menu ul li a{
	text-decoration:underline;
	padding:0 2px
}
.adminbar{
	text-align:right;
	background:inherit;
	clear:both;
	/*float:center;*/
	line-height:17px;
	font-size:0.8em
}
.adminbar a{
	font-weight:normal;
	color:#B5935F !important
}
.logo{
	clear:both;
	text-align:left;
	font-size:2em;
	font-weight:bold;
	color:#ECCA74
}
.logo2{
	text-align:center
}
.theader,
.passvalid{
	background:url('muon/muon_inputs.jpg') #161616;
	text-align:center;
	padding:2px;
	color:#757575;
	clear:both;
	font-weight:bold;
	margin:.5em 0;
	border:solid 1px #9B8165;
	box-shadow:0 0 4px rgba(155, 129, 101, 0.7);
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px
}
.postarea{
	font-size:0.9em
}
.rules{
	font-size:0.8em
}
.postblock,
.form-tbl p{
	background:transparent;
	color:#5E5E5E !important;
	font-weight:bold
}
.footer{
	text-align:center;
	font-size:12px;
	font-family:serif;
	margin:2em 0 0 0
}
.footer a{
	color:#9B8165 !important
}
.dellist{
	font-weight:bold;
	text-align:center
}
.delbuttons{
	text-align:center;
	padding-bottom:4px
}
.managehead{
	background:#9B8165;
	color:#000000;
	font-family:sans-serif;
	font-size:14px;
	padding:0px
}
.postlists{
	background:#FFFFFF;
	width:100%;
	padding:0px;
	color:#000000
}
.row1{
	background:#B5935F;
	font-family:sans-serif;
	font-size:12px;
	color:#000000
}
.row2{
	background:#ECCA74;
	font-family:sans-serif;
	font-size:12px;
	color:#000000
}
.row1 a,
.row2 a{
	color:#115011 !important
}
.row1 a:hover,
.row2 a:hover{
	text-shadow:none
}
.unkfunc{
	background:inherit;
	color:#C1B387
}
.reflink{
	font-size:85%;
	font-weight:bold
}
.filesize{
	text-decoration:none;
	color:#5E5E5E;
	font-size:.8em
}
.filesize a{
	margin:0 .5em !important
}
.filetitle{
	background:inherit;
	font-size:1.2em;
	color:#FFC17B;
	font-weight:bold
}
hr{
	height:3px;
	border:0 !important;
	background:url('muon/muon_line.png') center no-repeat;
	background-size:100% 100%;
	-moz-background-size:100% 100%
}
.postername,
.commentpostername{
	color:#9B8165;
	font-weight:bold
}
.postertrip{
	color:#896541;
	font-weight:bold
}
.oldpost,
.notabene{
	font-family:serif;
	color:#0F0C5D;
	font-weight:bold
}
.omittedposts{
	color:#896640
}
.reply{
	color:#C6985C;
	background:url('muon/muon_posts.jpg') #292825;
	border:solid 1px #34352D;
	margin:5px 5px;
	padding:1px 2px 6px 2px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-moz-box-shadow:0px 0px 12px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow:0px 0px 12px rgba(0, 0, 0, 0.3);
	box-shadow:0px 0px 12px #161616
}
blockquote{
	margin:.5em .5em .5em 1em;
	line-height:1.3em
}
.reply blockquote{
	margin:.5em
}
.doubledash{
	display:none;
	vertical-align:top;
	clear:both;
	float:left
}
.replytitle{
	font-size:1.2em;
	color:#FFC17B;
	font-weight:bold
}
.thumbnailmsg{
	font-size:.6em;
	color:#666666
}
table{
	border-style:none
}
table td{
	border-style:none
}
.nothumb{
	background:url('muon/muon_inputs.jpg') #3E3C38;
	border:1px #666666 dashed;
	margin:.3em .5em
}
.abbrev{
	color:#666666
}
.highlight{
	color:#C6985C;
	background:#292825 url('muon/muon_posts.jpg');
	border:2px dashed #725B48;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	margin:5px 5px;
	padding:1px 2px 3px 2px;
	-moz-box-shadow:0px 0px 12px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow:0px 0px 12px rgba(0, 0, 0, 0.3);
	box-shadow:0px 0px 12px #161616
}
p.spoiler > span.warning{
	color:#FF6600;
	font-weight:bolder
}
span.spoiler{
	background:#454545;
	color:#454545;
	opacity:.5
}
.spoiler a{
	color:#454545 !important
}
span.spoiler:hover{
	color:#AEAEAE;
	opacity:1
}
.spoiler:hover a{
	color:#FCE236 !important
}
select,
textarea,
input[type = "text"],
input[type = "file"],
input[type = "password"],
input[name = "snum"]{
	color:#FEC77D !important;
	background:#3E3C38 url('muon/muon_inputs.jpg');
	border:1px solid #44453D !important;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	transition:all 0.3s ease
}
select:hover,
textarea:hover,
input[type = "text"]:hover,
input[type = "file"]:hover,
input[type = "password"]:hover,
input[name = "snum"]:hover{
	border:1px solid #5B5347 !important
}
select:focus,
textarea:focus,
input[type = "text"]:focus,
input[type = "file"]:focus,
input[type = "password"]:focus,
input[name = "snum"]:focus{
	box-shadow:0 0 4px rgba(155, 129, 101, 0.7)
}
#postform td{
	padding-bottom:.5em !important
}
select,
textarea,
input[type = "text"],
input[type = "file"],
input[type = "password"],
input[name = "snum"]{
	padding-left:.4em !important
}
textarea,
input[type = "text"],
input[type = "file"],
input[type = "password"],
input[name = "snum"]{
	padding-right:.4em !important
}
hr + hr{
	display:none
}
.logo img,
#title{
	float:left;
	clear:both
}
#title{
	margin:.25em 0 .25em 1em
}
.logo img{
	margin:.25em 0 0 .5em
}
div[id *= "preview_"]{
	border:solid 1px #34352D !important
}
div[style = "float:right; margin:0 0 0.5em 0;"]{
	float:left !important
}
body.replypage{
	counter-reset:postcount;
	counter-increment:postcount
}
body.replypage td.reply .reflink:before{
	counter-increment:postcount;
	content:"#" counter(postcount) " ";
	color:#789922 !important;
	font-weight:normal !important;
	margin-right:1em;
}
a[href = "mailto:sage"],
a[href = "mailto:Sage"],
a[href = "mailto:SAGE"]{
	color:#AA0000 !important
}
a[href = "mailto:sage"]:hover,
a[href = "mailto:Sage"]:hover,
a[href = "mailto:SAGE"]:hover{
	text-shadow:none
}
a[href = "mailto:sage"]:before,
a[href = "mailto:Sage"]:before,
a[href = "mailto:SAGE"]:before{
	content:url('muon/sage.png') !important
}
::-moz-selection{
	background:#FEC77D !important;
	color:#111111 !important
}
::selection{
	background:#FEC77D !important;
	color:#111111 !important
}
pre,
code{
	white-space:pre-wrap;
	white-space:-moz-pre-wrap;
	white-space:-pre-wrap;
	white-space:-o-pre-wrap;
	word-wrap:break-word;
	overflow:auto !important;
	max-width:80em !important;
	display:block !important
}
input[type = "submit"],
input[type = "button"],
input[type = "reset"],
.buttons input[type = "button"]{
	-o-appearance:none !important;
	-webkit-appearance:none !important;
	-moz-appearance:none !important;
	appearance:none !important;
	background-color:#333333 !important;
	background-image:-moz-linear-gradient(center top, #4A4A4A, #292929, #4A4A4A) !important;
	background-image:-o-linear-gradient(rgb(74, 74, 74), rgb(41, 41, 41), rgb(74, 74, 74)) !important;
	background-image:-webkit-gradient(linear, center top, center bottom, from(#4A4A4A), color-stop(25%, #313131), color-stop(50%, #292929), color-stop(75%, #313131), to(#4A4A4A)) !important;
	-webkit-border-radius:5px !important;
	-moz-border-radius:5px !important;
	border-radius:5px !important;
	border-bottom:1px solid #151515 !important;
	border-top:1px solid #151515 !important;
	border-left:1px solid #000000 !important;
	border-right:1px solid #000000 !important;
	color:#AAAAAA !important;
	font-weight:bold !important
}
input[type = "submit"]:hover,
input[type = "button"]:hover,
input[type = "reset"]:hover,
.buttons input[type = "button"]:hover{
	background-color:#212121 !important;
	background-image:-moz-linear-gradient(center top, #151515, #505050, #151515) !important;
	background-image:-o-linear-gradient(rgb(21, 21, 21), rgb(80, 80, 80), rgb(21, 21, 21)) !important;
	background-image:-webkit-gradient(linear, center top, center bottom, from(#151515), color-stop(25%, #222222), color-stop(50%, #505050), color-stop(75%, #222222), to(#151515)) !important;
	border:1px solid #9B8165 !important;
	color:#FFFFCC !important;
	box-shadow:inset 0 0 4px 1px #9B8165
}
font[color *= "2267"] em{
	color:#EE0000 !important;
	font-weight:bold
}
#oekaki-form select[name = "oek_painter"],
#oekaki-form input[type = "text"]{
	margin-right:.7em
}
.filesize img[alt = "edit"]{
	border:0 none !important
}
.markup{
	opacity:0
}
#layout,#layout-oekaki{
	position:fixed;
	width:100%;
	height:100%;
	margin:0px;
	background:rgba(0, 0, 0, 0.66);
	z-index:9006 !important;
}
#settings,#settings-oekaki{
	border:1px solid #13212c;
	background:#3E3C38;
	margin:66px auto;
	width:288px;
	padding-bottom:10px;
}
#settings a,#settings-oekaki a{
	color:#ECCA74;
}
#settings a:hover,#settings-oekaki a:hover{
	color:#94c6ed;
}
#settings hr,#settings-oekaki hr{
	border-bottom:2px dotted #428fc8;
	box-shadow:none !important;
	width:auto;
}
#settings hr:last-child,#settings-oekaki hr:last-child{
	margin:0.875em 0 0 0;
}
.settingsBlockStyles{
	height:auto;
}
.settingsTitle,
.settingsBlockStyles{
	padding:8px;
}
.settingsDone{
	padding:0 8px;
	text-align:center;
}
.settingsDone a{
	color:#d15454 !important;
	font-size:90%;
}
.settingsDone a:hover{
	color:#94c6ed !important;
}
.settingsTitle{
	background:#1E1B16;
	border-bottom:2px solid #13212c;
	font-size:160%;
	font-weight:700;
	color:#f1f192;
	text-shadow:2px 2px #d15454;
}
.reply blockquote, blockquote :last-child { margin-bottom: 0em }
.reply {padding-bottom: 10px;}
.cubscolor {
        color:#FFFFFF;
}
#bottom{
	left:143px; position:absolute;
}
option {
	color: black!important;
}