/* Neutron 02ch.net adaptation */
html, body {
	background-color: #212121;
	color: #698CC0;
	font-family: "Trebuchet MS",Trebuchet,tahoma,serif;
}
a {
	color: #C9BE89;
}
a:hover {
	color: #EEFEBB;
}
.adminbar ul.menu ul li a {
	color: #C9BE89 !important;
	text-decoration: none;
}
.adminbar ul.menu ul li a:hover {
	color: #EEFEBB!important;
}
.adminbar ul.menu ul li a {
	text-decoration: none;
}
.adminbar {
        text-align:right;
        background:inherit;
        clear:both;
        float:right;
        font-size: 13px;
}
.adminbar a, #adminbar a {
	font-weight: bold;
	text-shadow: none;
}
.image {
    border: none;
    float: left;
    margin: 2px 20px;
}
.logo {
	clear:both;
	text-align:left;
	font-size:2em;
	font-weight: bold;
	color:#FFAB3F;
}
.eye {
    margin: 0;
    padding: 0;
    text-align:center;
    font-size: .8em;
    font-weight: bold;
    color: #C9BE89;
}
.eye-board {
}
.eye-feed {
    position: relative;
    float: right;
    top: 0;
    right: 0;
}
.eye-self {
    position: fixed;
    float: right;
    bottom: 20px;
    right: 10px;
}
.eye-thread {
}
.counter {
    width: 50px;
    font-weight: bold;
    color:#FFAB3F;
}
.sepblock table {
    margin: 0px;
    text-align:left;
    width:100%
}
.separator {
    background:#212121;
    border-top:1px solid #BBBBBB;
    font-size:1px;
    width:100%;
    padding:0;
    margin:0;
    height:1px;
    overflow:hidden;
}
.rules {
	font-size:.8em;
}
div.rules ul li strong {
	color: #993333 !important;
}
/*
.postarea {
}
.postarea table {
    width:  100%;
}
#postform table {
    height: 180px;
    border-collapse:collapse;
    padding:0px;
}
#postpart #textfield {
    height: 100%;
}
#postpart textarea {
    height: 100%;
    width:  98%;
}
.postarea #replyopts {
    width:  400px;
}
.rules {
    font-size:12px;
}
*/
.postblock {
	background: transparent;
	color: #0061AA;
	font-weight:bold;
}
.footer {
	text-align:center;
	font-size:12px;
	font-family:serif;
	margin: 2em 0 0 0;
}
.dellist {
	font-weight: bold;
	text-align:center;
}
.delbuttons {
	text-align:center;
	padding-bottom:4px;
}
.managehead {
	background:#2C2C2C;
	color:#6393CD;
}
.postlists {
	background:#FFFFFF;
	width:100%;
	color:#800000;
}
.row1 {
	background:#2C2C2C;
	color:#6393CD;
}
.row2 {
	background:#575757;
	color:#6393CD;
}
.unkfunc {
	background:inherit;
	color: #789922;
}
.reflink {
	font-size: .8em;
	font-weight: bold;
}
.reflink a {
	color: #C9BE89;
}
.filesize {
	background-color:#212121;
	border: solid 1px #575757;
	padding:2px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	text-decoration:none;
	color: #999999;
	font-size: .8em;
}
.filesize a {
	color: #789922;
}
.filetitle {
	background:inherit;
	font-size:1.2em;
	color:#3941AC;
	font-weight:bold;
}
.omittedposts {
	color:#999999;
}
.reply {
	background:url('/icons/lightning.png') right bottom no-repeat;
	background-color:#2C2C2C;
	color: #698CC0;
	border: solid 1px #575757;
	margin: 0;
	padding: 0px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
blockquote {
	margin: .5em .5em .5em 1em;
}
.reply blockquote {
	margin: .5em;
}
.doubledash {
	display: none;
 	vertical-align:top;
	clear:both;
	float:left;
}
.replytitle {
	font-size: 1.2em;
	color:#0061AA;
	font-weight:bold;
}
hr {
	height:3px;
	border-width: 0px;
	background:url('/icons/line.png') center no-repeat;
}
table {
	border-style: none;
}
table td {
	border-style: none;
}
.nothumb {
	background-color: #555555;
	border-style: dotted;
	margin: .3em .5em;
}
.thumbnailmsg {
	font-size: .8em;
	color:#999999;
}
.abbrev {
	color:#999999;
}
.highlight, div[id*=pstprev] {
	background:#111111;
	color:#EEEEEE;
	border:2px dashed #789922;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.extrafunctions {
	color:#008000;
}

.theader, .passvalid, .replymode {
	background:#2C2C2C;
	text-align:center;
	padding:2px;
	color:#006AB9;
	clear: both;
	font-weight: bold;
	margin-bottom: .5em;
	border: solid 1px #575757;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px ;
	border-radius: 5px ;
}
.managehead {
	padding:0px;
}
.postlists {
	padding:0px;
}
.oldpost, .notabene {
	color:#33EEFA;
	font-weight:bold;
}
.menu {
	border: none;
}
a[target=_blank] img {
	padding:2px;
}
a.highslide img {
	visibility: hidden !important;
	width: 1px !important;
}
a.highslide:before {
	content: url('/icons/inc_neut.png') !important;
	visibility: visible !important;
	position: relative !important;
	top: 2px !important;
}

/* Forms */
input[type="password"], select[name=embedtype], input[type="file"], input[type="image"] {
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	color: #BBBBBB;
	border: 2px solid #545454;
	background-color: #111111;
}
input[type="file"], input[type="image"] {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
input[type="text"] {
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #111111;
	color: #FFFFFF;
	border: 2px solid #545454;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
input:hover[type="text"], input:focus[type="text"] {
	background-color: #151515;
	color: #AAAAFF;
}
textarea, select {
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #111111;
	color: #CCCCCC;
	border: 2px solid #545454;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
textarea:hover, textarea:focus, select:hover, select:focus {
	background-color: #151515;
	color: #EEEEEE;
}

/* ID's */
a[href$=sage],  a[href$=Sage], a[href$=SAGE] {
	color: #993333 !important;
	text-shadow: #000 0px 0px 5px;
}
a[href$=sage]:before,  a[href$=Sage]:before, a[href$=SAGE]:before {
	content: "[sage] " !important;
}
a:hover[href$=sage],  a:hover[href$=Sage], a:hover[href$=SAGE] {
	color: #CC1212 !important;
	text-shadow: black 0px 0px 5px;
}
.postername {
	color:#B4B9CD;
	font-weight:bold;
}
.postertrip {
	color:#AAFFAA;
	font-weight:bold;
}
.commentpostername {
	color:#B4B9CD;
	font-weight:800;
}
body.replypage {
	counter-reset: postcount !important;
	counter-increment: postcount !important;
}
body.replypage td.reply label:after {
	counter-increment: postcount !important;
	content: " " "#" counter(postcount) "  " !important;
	color: #789922 !important;
}

/* Frame */
dl#menu {
	background-color: #212121 !important;
}
dl.menu dt {
	background:#111111;
	border: solid 1px #575757;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px ;
	border-radius: 5px ;
	margin-top: 1em;
	padding-left: .5em;
	cursor: pointer;
	color: #698CC0;
	font-weight: normal;
}
dl.menu dd {
	margin-left: .5em;
	padding-left: .5em;
	border-left: solid 1px #575757;
	background:#212121;
}
dl.menu dd:hover {
	background: #575757;
}
dl.menu dd.hidden {
	display: none;
}

/* Markup */
span.spoiler, span[onmouseout*="color='black'"] {
	background: #575757;
	color: #575757;
}
span.spoiler:hover, span[onmouseover*="color='white'"]:hover {
	color: #48B0FD;
}
pre {
	background:#2C2C2C;
	color:#CCCCCC;
}
.underline {
	text-decoration: underline;
}

/* Captcha */
img[src*="captcha"] {
	background: #CCCCCC;
}
div.typeset span.error {
	padding:2px !important;
}
.red {
	color:#ff0000;
}
