*{font-family:"Trebuchet MC", Arial, Helvetica sans-serif;list-style:none;margin:0;padding:0}html{background:#eaeaea;font-size:87.5%;/*box-shadow:inset 2px 2px 4px #c7c7c7, inset -2px -2px 4px #c7c7c7*/}hr{background:transparent;border:0;border-bottom:2px dotted #d1d1d1;margin:.875em 0}a,a:visited{color:#df6161}.logo{color:#ec4040;text-align:center;font:normal 400 260% Impact, sans-serif;letter-spacing:1px;width:100%;text-shadow:2px 2px #fff}.postarea{display:block;text-align:center;/*float:center;*/width:auto;margin:0 0 15px;padding:14px 20px}.theader,.passvalid{width:auto;height:auto;background:#2d2d2d;color:#fff;font:normal 700 14px "Trebuchet MC", sans-serif;border:1px solid #282828;text-align:center;margin:4px 0 20px 6px;padding:2px}.postarea table{margin:0 auto}.postblock{background:#e9e9e9;border:1px solid #d1d1d1;border-radius:3px;padding:3px}.postarea table tr td:last-child{border:0}input,textarea{background:#eaeaea;border:1px solid #d1d1d1;border-radius:3px;padding:3px}input:hover,.textarea:hover{border:1px solid #c6c6c6}input[type = submit]{margin:0 0 0 2px}.rules{color:#b7b1b1;float:left;display:inline-block;text-align:left;margin:6px 0 0;padding:0 0 0 12px}.rules li{font:normal 400 11px "Trebuchet MC", sans-serif;list-style:circle;padding:0 0 0 1px}.rules li a{font:normal 400 11px "Trebuchet MC", sans-serif;color:inherit}.unkfunc{color:#aaa}span.spoiler{color:#1e1e1e;background:#1e1e1e}span.spoiler:hover{color:#d4d4d4;background:#2e2e2e}.spoiler a.quotelink,.spoiler .unkfunc{color:transparent}img{border-radius:.25em;margin:0 10px 0 0}label{font-size:.938em}.thumbnailmsg,.filesize{color:#9e9e9e;font-size:.875em;margin:0 0 4px}.filesize a{font-size:12px}.postTitle{font-weight:700;font-size:18px}.postername,.commentpostername{font-weight:700;color:#aa4d4d}.reflink{color:#3a3a3a;text-decoration:none}.filetitle,.replytitle{font-size:130%;font-weight:700}.omittedposts{font-size:90%}.omittedposts,.omittedposts a{font-style:italic;color:#9e9e9e}.postertrip{color:#dc5f5f}.reply{background:#eaeaea;border-top:1px solid #d1d1d1;border-right:1px solid #c6c6c6;border-bottom:1px solid #c6c6c6;border-left:1px solid #d1d1d1;border-radius:2px;margin:4px 0;padding:4px 7px}.replyhl{background:#e8d6d6;border-top:1px dotted #d16767;border-right:1px dotted #c44747;border-bottom:1px dotted #c44747;border-left:1px dotted #d16767}.adminbar{width:100%;color:silver;background:#000;border-bottom:2px solid #2d2d2d;box-shadow:rgba(0,0,0,0.66) 0 6px 6px -6px;margin:-8px;padding:8px}.adminbar table td:first-child a{color:#e48181}.adminbar a,.footer a{color:#d1d1d1}.footer{color:silver;background:#000;border-top:2px solid #2d2d2d;text-align:center;box-shadow:rgba(0,0,0,0.66) 0 12px 12px -12px;margin:10px -8px -8px;padding:14px}#layout,#layout-oekaki{position:fixed;width:100%;height:100%;background:rgba(0,0,0,0.66);z-index:9006!important;margin: 8px 0px 0px 0px;}#settings,#settings-oekaki{border:1px solid #d1d1d1;background:#eaeaea;width:288px;padding-bottom:10px;margin:66px auto}#settings hr:last-child,#settings-oekaki hr:last-child{margin:.875em 0 0}.settingsBlockStyles{height:auto}.settingsTitle,.settingsBlockStyles{padding:8px}.settingsDone{text-align:center;padding:0 8px}.settingsTitle{background:#000;border-bottom:2px solid #434343;font-size:120%;font-weight:700;color:#fff;box-shadow:rgba(0,0,0,0.26) 0 2px 4px 0}.cubscolor{color:#D1ADAD}body,a.quotelink{color:#3a3a3a}.none,.doubledash{display:none}a:hover,.rules li a:hover,.filesize a:hover,.reflink:hover,.omittedposts a:hover,.adminbar table td:first-child a:hover,.adminbar a:hover,.footer a:hover{color:#61a8df}input:focus,textarea:focus,input[type = submit]:active{border:1px solid #d75454}blockquote,blockquote p{padding:4px 0}
.highlight {
    background: none repeat scroll 0 0 #C4C4C4;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.55);
    color: #2E2E2E;
    text-shadow: 1px 1px 19px rgba(0, 0, 0, 0.19);
    border-color: #D1D1D1 #C6C6C6 #C6C6C6 #D1D1D1;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 1px;
    margin: 4px 0;
    padding: 4px 7px;
}
#bottom{
	left:112px; position:absolute;
}
html {
margin:0 8px 0 0;
padding:0 0 0 0px;
}
body {
	margin:0; padding: 0;
}
#back{
	margin-left:6px;
}
#layout-oekaki div.settingsBlockStyles form table{
	margin-left:40px;
}
pre,code{
	white-space:pre-wrap;
	white-space:-moz-pre-wrap;
	white-space:-pre-wrap;
	white-space:-o-pre-wrap;
	word-wrap:break-word;
	overflow:auto !important;
	max-width:80em !important;
	display:block !important
}