<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>{% block title %} {% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <style type="text/css">
        body { margin: 0; padding: 8px; margin-bottom: auto;
        }

        .short {

        }

        .long {

        display: none;
        }



        form { margin-bottom: 0px
        }

        form .trap {
        display:none
        }

        .postarea {
        text-align: center
        }
        .postarea table
        { margin: 0px auto; text-align: left }

        .thumb { border: none; float: left; margin: 2px 20px }

        .nothumb { float: left; background: #eee;
        border: 2px dashed #aaa;
        text-align: center; margin: 2px 20px;
        padding: 1em 0.5em 1em 0.5em; }

        .reply blockquote,
        blockquote : last-child
        { margin-bottom: 0em }

        .reflink a { color: inherit; text-decoration: none }

        .reply .filesize { margin-left: 20px }

        .userdelete { float: right; text-align: center; white-space: nowrap }

        .replypage .replylink { display: none }

        .great_btn {
        background: linear-gradient(to bottom, #0bc408 0%,#09a206 100%);
        color: #fff;
        font-size: 16px;
        text-shadow: 0 1px 0 #757575;
        padding: 4px 0 5px 0;
        margin: 0;
        cursor: pointer;
        border: 0;
        border-top: 1px solid #87c286;
        border-right: 1px solid #0e780c;
        border-left: 1px solid #0e780c;
        border-bottom: 1px solid #0e780c;
        box-shadow: 0 -1px 0 #0e780c, 0 1px 0 #fff;
        width: 150px;
        border-radius: 2px;
        }

        input[type="checkbox"] {
        position: absolute;
        left: -9999px;
        }
        input[type="checkbox"] + label {
        background: url("sprite.gif") 0 0 no-repeat;
        padding-left: 20px;
        }
        input[type="checkbox"]:checked + label {
        background-position: 0 -32px;
        }

        input[type=text], textarea {
        outline: none;
        padding: 5px;
        margin: 5px;
        border: 1px solid #DDDDDD;
        }
        input[type=text]:focus, textarea:focus {
        border-color:#56b4ef;
        box-shadow:inset 0 1px 3px rgba(0,0,0,.05),0 0 8px rgba(82,168,236,.6);
        -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 0 8px rgba(82,168,236,.6);
        -moz-box-shadow:inset 0 1px 3px rgba(0,0,0,.05),0 0 8px rgba(82,168,236,.6);

        }
        }
        }
    </style>

    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }} " media="screen, projection">
    <link rel="stylesheet" href="{{ url_for('static', filename='icons/icons.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename ='modal/jquery.arcticmodal-0.3.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='modal/themes/simple.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery.checkbox.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery.checkbox.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery.safari-checkbox.css') }}">

    <link rel="alternate stylesheet"
          type="text/css"
          href = "{{ url_for('static', filename='foliant.css') }}"
          title="Foliant">

    <link rel="alternate stylesheet"
          type="text/css"
          href="{{ url_for('static', filename='burichan.css') }}"
          title="Burichan">

    <link rel="stylesheet"
          type="text/css"
          href = "{{ url_for('static', filename='futaba.css') }}"
          title="Futaba">

    <link rel="alternate stylesheet"
          type="text/css"
          href = "{{ url_for('static', filename='gurochan.css') }}"
          title="Gurochan">

    <link rel="alternate stylesheet"
          type="text/css"
          href = "{{ url_for('static', filename='photon.css') }}"
          title="Photon">

    <link rel="alternate stylesheet"
          type="text/css"
          href = "{{ url_for('static', filename='green.css') }}"
          title="GreenHack">

    <link rel="alternate stylesheet"
          type="text/css"
          href = "{{ url_for('static', filename='neutron.css') }}"
          title="Neutron">

    <link rel="alternate stylesheet"
          type="text/css"
          href = "{{ url_for('static', filename='new_year.css') }}"
          title="New Year">

    <link rel="alternate stylesheet"
          type="text/css"
          href = "{{ url_for('static', filename='anion.css') }}"
          title="Anion">

    <link rel="alternate stylesheet"
          type="text/css"
          href = "{{ url_for('static', filename='modern.css') }}"
          title="Modern">

    <link rel="alternate stylesheet"
          type="text/css"
          href = "{{ url_for('static', filename='helion.css') }}"
          title="Helion">

    <link rel="alternate stylesheet"
          type="text/css"
          href = "{{ url_for('static', filename='muon.css') }}"
          title="Muon">

    <link rel="alternate stylesheet"
          type="text/css"
          href = "{{ url_for('static', filename='aya.css') }}"
          title="Aya">

    <link rel="alternate stylesheet"
          type="text/css"
          href = "{{ url_for('static', filename='cirno_blue.css') }}"
          title="Cirno blue">

    <link rel="alternate stylesheet"
          type="text/css"
          href = "{{ url_for('static', filename='marisa_black.css') }}"
          title="Marisa black">

    <link rel="alternate stylesheet"
          type="text/css"
          href = "{{ url_for('static', filename='nazrin_gray.css') }}"
          title="Nazrin gray">

    <link rel="alternate stylesheet"
          type="text/css"
          href = "{{ url_for('static', filename='reimu_red.css') }}"
          title="Reimu red">



    <script type="text/javascript">var style_cookie="wakabastyle";

    </script>

    <script type="text/javascript"
            src="{{ url_for('static', filename='wakaba3.js') }}">
    </script>

    <script type="text/javascript"
            src="{{ url_for('static', filename='jquery.min.js') }}">
    </script>

    <script type="text/javascript"
            src="{{ url_for('static', filename='jquery.checkbox.js') }}">
    </script>

    <script type="text/javascript"
            src="{{ url_for('static', filename='jquery.checkbox.min.js') }}">
    </script>

    <script src="{{ url_for('static', filename='modal/jquery.arcticmodal-0.3.min.js') }}"></script>

    <script language = "JavaScript">
    function changeSizeImage(im, w, h, thumb_w, thumb_h) {

    if(im.height == h && im.width == w ) {
    im.height = thumb_h;
    im.width = thumb_w;
    }
    else {
    im.height = h;
    im.width = w;
    }
}

</script>

    <script language = "JavaScript">

    $(document).ready(function() {
    $('input[type=checkbox]').checkbox({
    cls:'jquery-safari-checkbox',
    empty: '{{ url_for('static', filename ='empty.png') }}'
});
});

</script>




</head>

<body>
{% block boards %}
{% endblock %}



<div class="adminbar">
    [<a href="/" target="_top">Home</a>]
    [<a href="#StyleModal"><span class = "styles" style="cursor: pointer;" onclick="$('#StyleModal').arcticmodal()">Styles</span></a>]

</div>
{% block logo %}
{% endblock %}

<center><img src="{{ url_for('banners') }}"></center>


<hr>


{% block content %}
{% endblock %}

    <div style="display: none;">
    <div class="box-modal" id="StyleModal">
        <div class="box-modal_close arcticmodal-close">close</div>

        <h3 align = "center">Base Styles</h3>
    [<a href = "javascript:set_stylesheet('Burichan')">Burichan</a>]
    [<a href = "javascript:set_stylesheet('Futaba')">Futaba</a>]
    [<a href = "javascript:set_stylesheet('Gurochan')">Gurochan</a>]
    [<a href = "javascript:set_stylesheet('Photon')">Photon</a>]
    [<a href = "javascript:set_stylesheet('Foliant')">Foliant</a>]
    [<a href = "javascript:set_stylesheet('Aya')">Aya</a>]
    [<a href = "javascript:set_stylesheet('Cirno Blue')">Cirno Blue</a>]
    [<a href = "javascript:set_stylesheet('Marisa black')">Marisa black</a>]
    [<a href = "javascript:set_stylesheet('Nazrin gray')">Nazrin gray</a>]
    [<a href = "javascript:set_stylesheet('Reimu red')">Reimu red</a>]

        <hr>
        <h3 align = "center">Nightly Styles</h3>
    [<a href = "javascript:set_stylesheet('GreenHack')">GreenHack</a>]
    [<a href = "javascript:set_stylesheet('Neutron')">Neutron</a>]
    [<a href = "javascript:set_stylesheet('Helion')">Helion</a>]
    [<a href = "javascript:set_stylesheet('Muon')">Muon</a>]

        <hr>
        <h3 align = "center">Modern Styles</h3>
        [<a href = "javascript:set_stylesheet('New Year')">New Year</a>]
        [<a href = "javascript:set_stylesheet('Anion')">Anion</a>]
        [<a href = "javascript:set_stylesheet('Modern')">Modern</a>]

</select>
    </div>
</div>

 <hr>
    <table class="userdelete">
        <tbody>
        <tr>
            <td>{% block delete_post %}{% endblock %}</td>
        </tr>
        </tbody>
    </table>
</form>
<script type="text/javascript">set_delpass("delform")</script>
<table border="1">
    <tbody>
    <tr>
        <td> Previous</td>
        <td> [0]</td>
        <td> Next</td>
    </tr>
    </tbody>
</table>
<br clear="all">

<p class="footer"><a href="http://tachibana.org">Tachibana 0.1</a>
</body>

</html>