{% extends 'base.html' %}

        {% block title %}
    {% for item in board %}
        Anichan | /{{ item.url }}/ - {{ item.name }}
        {% endfor %}
{% endblock %}

{% block boards %}
<div class="adminbar">
    [
    {% for item in all_boards %}

    <a href="{{ item.url }}">{{ item.url }}</a>-
    {% endfor %}
    ]
</div>
{% endblock %}

        {% block logo %}
{% for item in board %}
<div class="logo">/{{ item.url }}/ - {{ item.name }}
</div>
{% endfor %}
{% endblock %}

        {% block content %}


<script src="{{ url_for('static', filename='tinymce/tinymce.min.js') }}"></script>
<div class="postarea">
    {% if ban %}
    {% for item in ban %}
    <img width=20% height=20% src = "http://images4.fanpop.com/image/answers/1518000/1518150_1304152717353.22res_400_267.jpg">
    <h3>Hey, you recieve a ban for <font color='red'>{{ item.reason }}</font></h3>
    Banned time: {{ item.start_date | date_normalize }}
    <p>Ban exprire: {{ item.exp_date | date_normalize }}</p>

    {% endfor %}
    {% else %}
    {% for item in board %}
    <form id="postform" action="/{{ item.url }}"
          method="post"
          enctype="multipart/form-data">
    {% endfor %}
        {{ form.csrf_token }}

        <input name="task"
               value="post"
               type="hidden">

        <table>
            <tbody>

            <tr>
                <td class="postblock">{{ form.name.label }}</td>
                <td>
                       {{ form.name(size=28)}}
                </td>
            </tr>

            <tr>
                <td class="postblock">{{ form.subject.label }}</td>
                <td>
                    {{ form.subject(size=35)}}
                    <button value="Submit"
                           type="submit"
                           class='great_btn'>Submit</button>
                </td>
            </tr>
            <tr>
                <td class="postblock">{{ form.content.label }}</td>
                <td>
                    {{ form.content(cols="50", rows="8")}}
                </td>

                <script>
                tinymce.init({selector:'textarea',
                menubar: false,
                theme_advanced_font_sizes: "10px,12px,13px,14px,16px,18px,20px",
                font_size_style_values: "12px,13px,14px,16px,18px,20px",
                plugins : 'textcolor autoresize autolink charmap colorpicker preview',
                toolbar1 : 'undo redo bold italic underline strikethrough superscript subscript | fontsizeselect |',
                toolbar2 : 'forecolor backcolor'
                });
                </script>
            </tr>

            <tr>
                <td class="postblock">{{ form.file.label }}</td>
                <td>
                    {{ form.file(size=35)}}
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <div class="rules">

                        <ul>
                            <li>Supported file types are: GIF, JPG, PNG</li>
                            <li>Maximum file size allowed is 10000 KB.</li>
                            <li>Images greater than 150x150 pixels will be thumbnailed.</li>
                            <font color="red">
                        {% for error in form.errors.name %}
                            <li>{{ error }}</li>
                        {% endfor %}
                            <br>
                        {% for error in form.errors.subject %}
                            <li>{{ error }}</li>
                        {% endfor %}
                            <br>

                        {% for error in form.errors.content %}
                            <li>{{ error }}</li>
                        {% endfor %}
                            <br>
                        {% for error in form.errors.file %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </font>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
    {% endif %}
</div>

<script type="text/javascript">set_inputs("postform")</script>

<hr>


        {% for item in thread %}
                    {% if item.file %}
    <span class="filesize">File:
        <a target="_blank"
           href="{{ url_for('images', id=item.id, type='op') }}">{{ item.id }}
        </a>
        (<em>{{ item.img_size | to_kb }} KB, {{ item.img_width }}x{{ item.img_height }}</em>)
    </span>

    <span class="thumbnailmsg">Thumbnail displayed, click image for full size.
    </span>

    <br>

        <img src="{{ url_for('images', id=item.id, type='op') }}"
             alt="44677"
             class="thumb"
             onclick="changeSizeImage(this, {{ item.img_width }}, {{ item.img_height }}, {{ item.thumb_width }}, {{ item.thumb_height }})"
             height="{{ item.thumb_height }}"
             width="{{ item.thumb_width }}">
    {% endif %}

    <a name="37"></a>

        <span class="filetitle"></span>

        <span class="postername">

            {% if name_color %}
                        <font color="{{ name_color }}"> {{ item.creator }}</font>
                        {% else %}
                        {{ item.creator }}
                        {% endif %}

        {% if item.tripcode %}
            <font color="green">{{ item.tripcode }}</font>
        {% endif %}
        </span>
        {{ item.pub_date | data_normalize }}</label>

    {% for url in board %}
    <span class="reflink">
        <a href="{{ url.url }}/thread/{{ item.number }}">No.{{ item.number }}
        </a>
    </span>&nbsp;
    [<a href="{{ url.url }}/thread/{{ item.number }}">Reply
</a>]
    {% endfor %}
        <script type="text/javascript">
            function longpost(item_number) {
                document.getElementById('short' + item_number).style.display='none';
                document.getElementById('long' + item_number).style.display='inline';
            }
        </script>
    <blockquote>
        <div class="short" id="short{{ item.number }}">
        {{ item.content | is_long }}
        <span style='cursor:pointer' onclick=longpost({{ item.number }})>Click</a></span>
        </div>

        <div class="long" id="long{{ item.number }}">
        {{ item.content }}
        </div>

    </blockquote>

    <span class="omittedposts">
        {{ item.reply| length}} replies.
        Click Reply to view.
    </span>

    {% if post %}
    {% for items in thread.reply %}
                {% for reply in items %}
    <table>
        <tbody>
        <tr>
            <td class="doubledash">
                &gt;&gt;
            </td>

            <td class="reply"
                id="reply{{ reply.number }}">
                <a name="{{ reply.number }}">

                </a>

                {% if reply.file %}
                <span class="filesize">File:
                <a target="_blank"
                    href="{{ url_for('images', id=reply.id, type='rp') }}">{{ reply.id }}
                    </a>
                    (<em>{{ reply.img_size | to_kb }} KB, {{ reply.img_width }}x{{ reply.img_height }}</em>)
                       </span>

                    <span class="thumbnailmsg">Thumbnail displayed, click image for full size.
                    </span>

                       <br>

                    <img src="{{ url_for('images', id=reply.id, type='rp') }}"
                     alt="44677"
                    class="thumb"
                    onclick="changeSizeImage(this, {{ reply.img_width }}, {{ reply.img_height }}, {{ reply.thumb_width }}, {{ reply.thumb_height }})"
                    height="{{ reply.thumb_height }}"
                    width="{{ reply.thumb_width }}">
                    </a>
                   {% endif %}


                <label>
                    <input name="delete"
                           value="177"
                           type="checkbox">

                    <span class="replytitle">

                    </span>

                    <span class="commentpostername">
                        {% if reply.color %}
                        <font color="{{ reply.color }}"> {{ reply.creator }}</font>
                        {% else %}
                        {{ reply.creator }}
                        {% endif %}
                     {% if reply.tripcode %}
                    <font color="green">{{ reply.tripcode }}</font>
                    {% endif %}
                    </span>
                    {{ reply.pub_date | data_normalize}}
                </label>

                <span class="reflink">

                    <a href="#reply{{ items.number }}">No.{{ items.number }}
                    </a>
                    <a href ="#reply{{ items.number }}"><span reply-icon="&#xf08e;"></span></a>
                </span>&nbsp;

                <blockquote>
                   {{ reply.content }}

                </blockquote>

            </td>
            </tr>
        </tbody>
    </table>
    {% endfor %}
    {% endfor %}
        {% endif %}

    <br clear="left" />
    <hr />
         {% endfor %}

   {% endblock %}