{% extends 'base.html' %}

        {% block title %}
    {% for item in board %}
        Anichan | /{{ item.url }}/ - {{ item.name }}
        {% endfor %}
{% endblock %}



{% block boards %}
<div class="adminbar">
    [
    {% for item in all_boards %}

    <a href="/{{ item.url }}">{{ item.url }}</a>-
    {% endfor %}
    ]
</div>
{% endblock %}

{% block logo %}
{% for item in board %}
<div class="logo">/{{ item.url }}/ - {{ item.name }}
</div>
{% endfor %}
{% endblock %}

        {% block random_banners %}
<center>AAAAAA</center>
{% endblock %}


        {% block content %}

<script src="{{ url_for('static', filename='tinymce/tinymce.min.js') }}"></script>
<div class="postarea">
    {% if ban %}
    {% for item in ban %}
    <img width=20% height=20% src = "http://images4.fanpop.com/image/answers/1518000/1518150_1304152717353.22res_400_267.jpg">
    <h3>Hey, you recieve a ban for <font color='red'>{{ item.reason }}</font></h3>
    Banned time: {{ item.start_date | date_normalize }}
    <p>Ban exprire: {{ item.exp_date | date_normalize }}</p>

    {% endfor %}
    {% else %}

    {% for item in thread %}
    {% for url in board %}
    <form id="postform" action="/{{ url.url }}/thread/{{ item.number }}"
          method="post"
          enctype="multipart/form-data">
    {% endfor %}
    {% endfor %}
        {{ form.csrf_token }}

        <table>
            <tbody>

            <tr>
                <td class="postblock">{{ form.name.label }}</td>
                <td>
                       {{ form.name(size=28) }}
                        <input value="Submit"
                           type="submit">
                </td>
            </tr>

            <tr>
                <td class="postblock">{{ form.content.label }}</td>
                <td>
                    {{ form.content(cols="50", rows="8")}}

                <script>
                tinymce.init({selector:'textarea',
                menubar: false,
                theme_advanced_font_sizes: "10px,12px,13px,14px,16px,18px,20px",
                font_size_style_values: "12px,13px,14px,16px,18px,20px",
                plugins : 'emoticons textcolor autoresize autolink charmap colorpicker preview',
                toolbar1 : 'undo redo bold italic underline strikethrough superscript subscript | fontsizeselect |',
                toolbar2 : 'forecolor backcolor emoticons'
                });
                </script>
                </td>
            </tr>

            <td class="postblock">{{ form.password.label }}</td>
                <td>
                       {{ form.password(size=28) }}
                </td>

            <tr>
                <td class="postblock">{{ form.file.label }}</td>
                <td>
                    {{ form.file(size=35)}}
                </td>
            </tr>
    </tbody>
            <tr>
                <td colspan="2">
                    <div class="rules">



                        <ul>
                            <li>Supported file types are: GIF, JPG, PNG</li>
                            <li>Maximum file size allowed is 10000 KB.</li>
                            <li>Images greater than 150x150 pixels will be thumbnailed.
                            </li>

                            <font color="red">
                            {% for error in form.errors.name %}
                            <li>{{ error }}</li>
                        {% endfor %}
                            <br>

                        {% for error in form.errors.content %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </font>
                        </ul>
                        </div>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
    {% endif %}
</div>

<script type="text/javascript">set_inputs("postform")</script>

<hr>

{% if thread %}
{% for item in thread %}

    {% if item.file %}
    <span class="filesize">File:
        <a target="_blank"
           href="{{ url_for('images', id=item.id, type='op') }}">{{ item.id }}
        </a>
        (<em>{{ item.img_size | to_kb }} KB, {{ item.img_width }}x{{ item.img_height }}</em>)
    </span>

    <span class="thumbnailmsg">Thumbnail displayed, click image for full size.
    </span>

    <br>

        <img src="{{ url_for('images', id=item.id, type='op') }}"
             alt="44677"
             class="thumb"
             onclick="changeSizeImage(this, {{ item.img_width }}, {{ item.img_height }}, {{ item.thumb_width }}, {{ item.thumb_height }})"
             height="{{ item.thumb_height }}"
             width="{{ item.thumb_width }}">
    </a>
    {% endif %}

    <a name="37"></a>

    <label>
        <input name="delete"
               value="37"
               type="checkbox"
               id="checkbox1">

        <span class="filetitle"></span>

        <span class="postername">

             {% if item.color %}
                        <font color="{{ item.color }}"> {{ item.creator }}</font>
                        {% else %}
                        {{ item.creator }}
                        {% endif %}

         {% if item.tripcode %}
            <font color="green">{{ item.tripcode }}</font>
        {% endif %}
        </span>
        {{ item.pub_date | data_normalize }}</label>

    <span class="reflink">
        <a href="#reply{{ item.number }}"> No.{{ item.number }}
        </a>
    </span>&nbsp;
    <blockquote>

        {{ item.content }}
        {% endfor %}
        {% endif %}

    </blockquote>
    {% if posts %}
    {% for item in posts %}
        {% if item.is_deleted %}


     <table>
        <tbody>
        <tr>
            <td class="doubledash">
                &gt;&gt;
            </td>

            <td class="reply"
                id="reply{{ item.number }}">
                <a name="{{ item.number }}">

                </a>

                    <span class="replytitle">

                    </span>

                    <span class="commentpostername">

                         {% if item.color %}
                        <font color="{{ item.color }}"> {{ item.creator }}</font>
                        {% else %}
                        {{ item.creator }}
                        {% endif %}

                     {% if item.tripcode %}
                    <font color="green">{{ item.tripcode }}</font>
                    {% endif %}
                    </span>
                    {{ item.pub_date | data_normalize }}
                </label>

                <span class="reflink">

                    <a href="#reply{{ item.number }}">No.{{ item.number }}
                    </a>
                    <a href ="#reply{{ item.number }}"><span reply-icon="&#xf08e;"></span></a>
                </span>&nbsp;

                <blockquote>
                   *Deleted by <b>{{ item.creator }}*</b>

                </blockquote>

            </td>
            </tr>
        </tbody>
    </table>

        {% else %}
    <table>
        <tbody>
        <tr>
            <td class="doubledash">
                &gt;&gt;
            </td>

            <td class="reply"
                id="reply{{ item.number }}">
                <a name="{{ item.number }}">

                </a>

                {% if item.file %}

                <span class="filesize">File:
                <a target="_blank"
                    href="{{ url_for('images', id=item.id, type='rp') }}">{{ item.id }}
                    </a>
                    (<em>{{ item.img_size | to_kb }} KB, {{ item.img_width }}x{{ item.img_height }}</em>)
                       </span>

                    <span class="thumbnailmsg">Thumbnail displayed, click image for full size.
                    </span>

                       <br>

                    <img src="{{ url_for('images', id=item.id, type='rp') }}"
                     alt="44677"
                    class="thumb"
                    onclick="changeSizeImage(this, {{ item.img_width }}, {{ item.img_height }}, {{ item.thumb_width }}, {{ item.thumb_height }})"
                    height="{{ item.thumb_height }}"
                    width="{{ item.thumb_width }}">
                    </a>

                    {% endif %}

                        <label>
                    <input name="delete"
                           value="177"
                           type="checkbox">

                    <span class="replytitle">

                    </span>

                    <span class="commentpostername">

                         {% if item.color %}
                        <font color="{{ item.color }}"> {{ item.creator }}</font>
                        {% else %}
                        {{ item.creator }}
                        {% endif %}

                     {% if item.tripcode %}
                    <font color="green">{{ item.tripcode }}</font>
                    {% endif %}
                    </span>
                    {{ item.pub_date | data_normalize }}
                </label>

                <span class="reflink">

                    <a href="#reply{{ item.number }}">No.{{ item.number }}
                    </a>
                    <a href ="#reply{{ item.number }}"><span reply-icon="&#xf08e;"></span></a>
                </span>&nbsp;

                <blockquote>
                   {{ item.content }}

                </blockquote>

            </td>
            </tr>
        </tbody>
    </table>
    {% endif %}
    {% endfor %}
    {% endif %}

{% endblock %}

    {% block delete_post %}
        {% if delete_form %}
        {% for item in thread %}
        {% for url in board %}
        <form name="delete" action="/{{ url.url }}/thread/{{ item.number }}" method="POST">
                {{ delete_form.csrf_token }}
                <label>Delete password</label>
                {{ delete_form.password(size="15") }}
                <p><label>Only File</label>
                {{ delete_form.remove_file }}
        {% endfor %}
        {% endfor %}


        <input name="delete"
               value="submit"
               type="submit"></p>
    </form>
        {% endif %}

    {% endblock %}